@import "./_mixins.scss";
@include font("Urbanist-Bold", "../fonts/Urbanist-Bold");
@include font("Urbanist-SemiBold", "../fonts/Urbanist-SemiBold");
@include font("Urbanist-Light", "../fonts/Urbanist-Light");
@include font("Urbanist-Regular", "../fonts/Urbanist-Regular");
@include font("Urbanist-Thin", "../fonts/Urbanist-Thin");
@include font("Urbanist-ExtraBold", "../fonts/Urbanist-ExtraBold");

$font-regular: "Urbanist-Regular";
$font-thin: "Urbanist-thin";
$font-light: "Urbanist-light";
$font-bold: "Urbanist-bold";
$font-extra-bold: "Urbanist-ExtraBold";
$font-semi-bold: "Urbanist-SemiBold";
$small-screen: "(max-width : 991px)";

$raduis-bloc: 20px;
.App {
  text-align: center;
  position: relative;
  z-index: 0;
}
.App-header {
  background: url("../img/header_back.png");
  // background-size: 100%;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-position: right;
  width: 96%;
  // height: 70vh;
  padding: 100px 0 100px 0;
  margin: 30px 30px 0 30px;
  position: relative;
  @include phone {
    width: 280px;
    height: 406px;
    background-color: #0026bc;
    border-radius: $raduis-bloc;
    width: 98%;
  }
  @include Tablet {
    width: 280px;
    height: 406px;
    background-color: #0026bc;
    border-radius: $raduis-bloc;
    width: 98%;
  }
  @include desktop-xl {
    padding: 100px 0 100px 0;
    background-size: 100%;
  }
  // background-color: #0026bc;
  border-radius: $raduis-bloc;
  position: relative;
  h2 {
    text-align: center;
    font-weight: regular;
    margin: 0;
    padding: 0;
  }
  h4 {
    text-align: center;
  }
  .ilust_1 {
    //width: 40%;
    // height: 70%;
    bottom: -250px;
    position: absolute;
    z-index: 400;
    @include desktop-xl {
      width: 621px;
    }
    @include desktop-md {
      width: 621px;
    }
    @include desktop-lg {
      width: 621px;
    }
    @include desktop-sm {
      width: 621px;
    }
    @include desktop-xs {
      width: 621px;
    }
    @include Tablet {
      width: 621px;
    }
    @include phone {
      width: 351px;
    }
  }
}
.navbar {
  position: absolute;
  top: 20px;
  left: 30px;
  margin: 0px 8px 0px 8px;

  .logo {
    float: left;
    img {
      float: left;
    }
  }
}
.navbar-items {
  float: right;
  position: absolute;
  top: 20px;
  right: 50px;
  z-index: 200;
  ul {
    margin: 0;
    padding: 0;
  }
  ul li {
    list-style-type: none;
    text-align: center;
    margin: 0px 14px 0px 14px;
    cursor: pointer;

    // padding: 25px;
  }
  & .button-demo {
    margin-left: 20px;
  }
}
.navbar-items-toggled {
  float: right;
  position: absolute;
  top: 50px;
  right: 0px;
  z-index: 0;
  background-color: #0026bc;
  border-radius: $raduis-bloc;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.08);

  padding: 15px;
  ul {
    margin: 10px;
    padding: 20px;
  }
  ul li {
    list-style-type: none;
    text-align: center;
    margin: 0px 25px 0px 25px;
    // padding: 25px;
  }
  & .button-demo {
    margin-left: 20px;
  }
}

.toggle-navbar {
  float: right;
  position: absolute;
  top: 20px;
  right: 50px;
  z-index: 200;
  width: 76px;
  height: 52px;
  border-radius: 26px;
  background-color: white;
}
.button-demo {
  width: 210px;
  height: 48px;
  background-color: white;
  color: #0026bc;
  font-size: 18px;
  text-align: center;
  border-radius: 24px;
  z-index: 450;
  cursor: pointer;
  img {
    margin: 0;
    padding: 0;
    float: right;
    margin-right: 0;
  }
}

.first-bloc-container {
  background-size: 100%;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-position: right;
  width: 96%;
  margin: 2%;
  margin-top: 280px;
  background-color: white;
  border-radius: $raduis-bloc;
  // padding-left: 350px;
  right: 0;
  h5 {
    text-align: center;
  }
  .first-bloc-inner {
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;
    .inner-text-bloc {
      padding-top: 75px;
      padding-bottom: 140px;
      padding-left: 5%;
      padding-right: 5%;
      @include desktop-xl {
        padding-left: 3%;
        padding-right: 3%;
        width: 70%;
      }
      width: 80%;
      h2 {
        text-align: left;
        margin: 0;
        padding: 0;
      }
      h4 {
        text-align: left;
      }
      img {
        width: 274.78px;
        margin: 0;
        padding: 0;
      }
    }
    .container {
      width: 100%;
      .features {
        flex-wrap: wrap;
        // width: 90%;
        @include desktop-lg {
          width: 100%;
        }
        @include desktop-xl {
          width: 100%;
        }
        @include desktop-sm {
          width: 100%;
        }
        @include desktop-xs {
          width: 60%;
        }
        @include desktop-md {
          width: 100%;
        }
        margin-bottom: 140px;
        .feature {
          // margin-bottom: 5%;
          // margin-left: 40px;
          padding: 10px 25px 0 25px;
          width: 250px;

          p {
            text-align: center;

            margin: 0;
            padding: 0;
          }
          h5 {
            text-align: center;
            margin: 0;
            padding: 0;
            padding: 30px 0 30px 0;
          }
          img {
            width: 90px;
            height: 90px;
          }
        }
      }
    }
  }
}
.bloc-5 {
  width: 100%;
  // flex-wrap: wrap;
  margin: 100px 0 80px 0;
  position: relative;

  .bloc-container {
    margin: 0 0 0 0;
    flex-wrap: wrap;
    width: 100%;
    //padding-left: 25%;
    img {
      margin: 0;
      // padding-right: 50px;
      //padding-left: 50px;
      width: 40%;
      // position: absolute;
      right: -120px;
    }
    .blocs {
      width: 600px;
      height: 450px;
      padding: 0 15px 0 15px;
      h3 {
        text-align: left;
        padding: 0;
        margin: 0;
        //margin-left: 10%;
      }
      h5 {
        text-align: left;
        padding: 0;
        margin: 0;
        padding-top: 50px;
        //  margin-left: 10%;
      }

      .sepa {
        width: 250px;
        position: relative;
        // padding-bottom: 30px;
        padding: 0 0 0 0;
      }

      .button-demo-two {
        width: 249px;
        height: 48px;
        background-color: white;
        margin-top: 10%;
        border-radius: 24px;
        cursor: pointer;
        .Text-inner {
          text-align: center;
          padding: 0 5px 0 5px;
        }
        img {
          margin: 0;
          padding: 0;
          width: 24px;
          height: 24px;
          float: right;
        }
      }
    }
  }
}
.second-bloc {
  width: 100%;
  // flex-wrap: wrap;
  margin: 100px 0 80px 0;
  .switch-bloc {
    flex-wrap: wrap;
    width: 90%;
    @include desktop-lg {
      width: 100%;
    }
    @include desktop-xs {
      width: 100%;
    }
    @include desktop-sm {
      width: 100%;
    }
    @include desktop-md {
      width: 100%;
    }
    @include desktop-xl {
      width: 100%;
    }
    .switch-feature-button {
      width: 230px;
      height: 60px;
      background-color: white;
      border-radius: 55px;
      margin: 5px 10px 80px 10px;

      cursor: pointer;
      .Text {
        text-align: center;
        padding: 0 25px 0 27px;
      }
      .circle-inner {
        width: 40px;
        height: 40px;
        background-color: #d9dcef;
        border-radius: 50%;
        margin-left: 10px;
        // float: left;
      }
      img {
        width: 30px;
      }
    }
  }
  .bloc-container {
    margin: 0 0 0 0;
    flex-wrap: wrap;
    //width: 100%;
    img {
      margin: 0;
      padding-right: 50px;
      //padding-left: 50px;
      width: 50%;
    }

    .blocs {
      //margin-left: 10%;
      width: 550px;
      height: 500px;
      @include phone {
        width: 300px;
      }

      h3 {
        text-align: left;
        padding: 0;
        margin: 0;
        //margin-left: 10%;
      }
      h5 {
        text-align: left;
        padding: 0;
        margin: 0;
        //  margin-left: 10%;
      }
      img {
        margin: 0;
        padding: 0;
        width: 30%;
        padding-bottom: 30px;
      }
      .sepa {
        width: 250px;
      }

      .button-demo-two {
        width: 249px;
        height: 48px;
        background-color: white;
        margin-top: 10%;
        border-radius: 24px;
        cursor: pointer;
        .Text-inner {
          text-align: center;
          padding: 0 5px 0 5px;
        }
        img {
          margin: 0;
          padding: 0;
          width: 24px;
          height: 24px;
          float: right;
        }
      }
    }
  }
}

.Bloc-three {
  width: 96%;
  //height: 704px;
  margin-top: 40px;
  background-color: #0026bc;
  border-radius: $raduis-bloc;
  flex-wrap: wrap;
  padding: 100px 0 100px 0;
  .inner-Text {
    padding: 0 5% 0 5%;
    h2 {
      text-align: left;
      margin: 0;
      padding: 0;
    }
    h4 {
      text-align: left;
    }
  }

  img {
    //  padding: 0 5% 0 5%;
    // float: left;
    width: 40%;
  }
  .button-demo {
    img {
      margin: 0;
      padding: 0;
      float: right;
      margin-right: 0;
      width: 20%;
    }
  }
}

.bloc-for-container {
  background-size: 100%;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-position: right;
  width: 96%;
  //height: 1034px;
  //margin: 0 0 0 0;
  background-color: white;
  border-radius: $raduis-bloc;
  // padding-left: 350px;
  padding-top: 70px;
  padding-bottom: 70px;
  h2 {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  h4 {
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .separator {
    width: 15%;
  }
  img {
    width: 40%;
    margin: 0;
    padding: 0;
  }
}
.FAQ {
  background-size: 100%;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-position: right;
  width: 96%;
  //height: 800px;
  margin: 0px 0px 10px 0;
  background-color: white;
  border-radius: $raduis-bloc;
  // padding-left: 350px;
  right: 0;
  padding-top: 5%;
  padding-bottom: 5%;
  @include phone {
    padding-bottom: 450px;
    height: 600px;
  }
  @include Tablet {
    padding-bottom: 450px;
    height: 600px;
  }
  @include desktop-xs {
    padding-bottom: 20%;
  }
  @include desktop-sm {
    padding-bottom: 15%;
  }

  @include desktop-md {
    padding-bottom: 15%;
  }
  @include desktop-lg {
    padding-bottom: 15%;
  }
  @include desktop-xl {
    padding-bottom: 15%;
  }

  position: relative;
  h2 {
    text-align: center;
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
  }
  .container {
    width: 100%;
  }

  .question-container {
    flex-wrap: wrap;
    // width: 80%;
    //padding: 0 4% 0 4%;
    @include phone {
      flex-wrap: wrap;
    }
    //padding-top: 5%;
    .question-bloc {
      // background-color: white;
      height: 80px;
      width: 530px;
      border-radius: 161px;
      border: 2px solid #8c96cf;
      z-index: 200;
      margin: 0 20px 40px 20px;
      padding: 0px 5px 0px 5px;

      h4 {
        text-align: center;
      }
    }
  }

  .separator {
    width: 15%;
  }
  img {
    width: 70%;
  }
  .bottom_bloc {
    background: url("../img/header_back.png");
    background-size: 100%;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-position: right;
    width: 1306px;
    height: 406px;
    border-radius: 20px;

    @include phone {
      width: 280px;
      height: 406px;
      background-color: #0026bc;
    }
    @include Tablet {
      width: 280px;
      height: 406px;
      background-color: #0026bc;
    }
    @include desktop-lg {
      width: 734px;
      height: 397px;
    }
    @include desktop-md {
      width: 734px;
      height: 397px;
    }
    @include desktop-sm {
      width: 734px;
      height: 397px;
    }
    @include desktop-xs {
      width: 734px;
      height: 397px;
    }
    position: absolute;
    bottom: -200px;
    h2 {
      text-align: center;
      margin: 0;
      padding: 0;
    }
    img {
      width: 183px;
    }
    .button-demo-two {
      width: 249px;
      height: 48px;
      background-color: white;
      border-radius: 24px;
      margin-top: 40px;
      cursor: pointer;
      .Text-inner {
        text-align: center;
        padding: 0 5px 0 5px;
      }
      img {
        margin: 0;
        padding: 0;
        width: 24px;
        height: 24px;
        float: right;
      }
    }
  }
}
.Bloc-five {
  padding-top: 5%;
  padding-bottom: 5%;
  .toggle-container {
    position: relative;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;

    .toggle {
      margin: 20px 20px 20px 20px;
      background-color: white;
    }
    .green-notice {
      position: absolute;
      top: 0px;
      right: -90px;
      @include phone {
        right: -60px;
      }
    }
    h3 {
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }

  .plans {
    flex-wrap: wrap;
    position: relative;
    .notice {
      position: absolute;
      width: 256px;
      height: 110px;
      background-color: white;
      border-radius: 10px;
      bottom: 300px;
      right: 200px;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.08);
      z-index: 100;
      padding: 0 0 0 15px;
      p {
        text-align: left;
        line-height: normal;
        margin: 0;
        padding: 0;
        padding-left: 8px;
        padding-bottom: 8px;
      }
      h5 {
        text-align: left;
        line-height: normal;

        margin: 0;
        padding: 0;
      }
    }
    .plan-container {
      &.plan-container-basic {
        background-color: #fbf9f9;
      }
      &.partner {
        height: 269px !important;
      }
      width: 390px;
      //  height: 693px;
      background-color: white;
      border-radius: $raduis-bloc;
      //padding: 14px 14px 14px 14px;
      padding-bottom: 16px;
      @include phone {
        width: 340px;

        //  margin: 0 14px 0 14px;
      }
      margin: 0 8px 0 8px;
      margin-bottom: 5%;
      position: relative;
      .red_notice {
        position: absolute;
        top: -10px;
        width: 191px;
        height: 27px;
        background-color: #f64860;
        border-radius: 7px;
        color: white;
        font-size: 18px;
        text-align: center;
      }
      //  box-shadow: black 2px;
      .button-demo {
        width: 210px;
        height: 48px;
        background-color: #0026bc;

        text-align: center;
        border-radius: 24px;
        cursor: pointer;
        img {
          margin: 0;
          padding: 0;
          float: right;
          margin-right: 0;
        }
      }

      .plan-features {
        padding: 14px 14px 14px 14px;
        .plan-item {
          p {
            text-align: left;
            padding: 5px;
            line-height: 2.7;
            margin: 0;
            padding: 0;
            padding-left: 14px;
            padding-right: 5px;
          }
        }
      }
      h2 {
        text-align: left;
        padding: 14px 0 0px 14px;
        margin: 0;
      }
      h4 {
        text-align: left;
        padding-left: 14px;
        padding-right: 5px;
      }
    }
  }
  h5 {
    text-align: left;
    line-height: 3;
    margin: 0;
    padding-left: 14px;
    padding-right: 5px;
  }
  h1 {
    text-align: left;
    margin: 0;
    padding: 0;
    padding-left: 14px;
    padding-right: 5px;
  }
  h2 {
    text-align: center;

    margin: 0;
    padding: 0;
  }
  h4 {
    text-align: center;
  }
}

.footer {
  padding-top: 5%;
  bottom: -400px;
  padding-top: 70%;
  @include desktop-xl {
    padding-top: 100%;

    //  margin: 0 14px 0 14px;
  }
  .items {
    padding: 15% 0 15% 0;

    ul {
      padding: 0;
      margin: 0;
    }
    ul li {
      list-style-type: none;
      text-align: center;
      margin: 0 5px 0 5px;
      cursor: pointer;

      // padding: 25px;
    }
  }
  p {
    list-style-type: none;
    text-align: center;
  }
}

.popup-container {
  //  background: url("../img/header_back.png");
  //background-size: 100%;
  background: rgba(black, 0.77);

  //filter: url(grayscale.svg); /* Firefox 4+ */
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 1;
}
.success_popup {
  display: inline-block;
  width: 500px;
  height: 350px;
  border-radius: $raduis-bloc;
  background-color: #0026bc;
  opacity: 1;
  z-index: 1000;
  position: relative;
  @include desktop-xl {
    width: 628px;
    //  height: 834px;
  }
  .top_left {
    background-image: url("../left_back.svg");
    filter: brightness(0.1);
    top: 0px;
    left: 0px;
    position: absolute;
    opacity: 0.06;

    width: 417px;
    height: 390px;
    background-color: none;
    // background-size: 100%;
  }
}
.popup {
  display: inline-block;
  width: 500px;
  height: 700px;
  border-radius: $raduis-bloc;
  background-color: #0026bc;
  opacity: 1;
  z-index: 1000;
  position: relative;
  @include desktop-xl {
    width: 628px;
    //  height: 834px;
  }
  .top_left {
    background-image: url("../left_back.svg");
    filter: brightness(0.1);
    top: 0px;
    left: 0px;
    position: absolute;
    opacity: 0.06;

    width: 417px;
    height: 390px;
    background-color: none;
    // background-size: 100%;
  }
  .logo {
    width: 200px;
  }
  .cancel {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 69px;
    height: 48px;
    border-radius: 24px;
    background-color: #00209e;
    color: #8c96cf;
    font-size: 25px;
    cursor: pointer;
  }
  .popup-inner-container {
    padding: 0px 20px 0 20px;
    @include desktop-xl {
      padding: 0px 70px 0 70px;
    }
    h3 {
      list-style-type: none;
      text-align: center;
    }
    p {
      text-align: center;
      padding-bottom: 20px;
    }
    input {
      width: 400px;
      height: 48px;
      background-color: #00209e;
      color: #354eb1;
      border-radius: 20px;
      padding: 10px;
      border: 0;
      outline: 0;
      padding: 0;
      padding-left: 30px;
      margin: 8px 0 20px 0;
      color: white;
      font-size: 16px;
      z-index: 5000;
    }
    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #354eb1;
      font-size: 16px;
      text-align: left;
      //  padding-left: 30px;
    }
    label {
      text-align: left;
      padding-left: 30px;
    }
    & .button-demo {
      margin: 20px 0 10px 0;
    }
  }
}
html,
body {
  background-color: #f0f1f7;
}

@for $i from 1 through 90 {
  .text_s#{$i} {
    font-size: #{$i}px;
    @media #{$small-screen} {
      font-size: #{$i - 7}px;
    }
  }
}

.extra_bold_text {
  font-family: $font-extra-bold;
  line-height: 0.8;
}
.regular_text {
  font-family: $font-regular;
  line-height: 1.3;
}
.bold_text {
  font-family: $font-bold;
  line-height: 1;
}
.light_text {
  font-family: $font-light;
  line-height: 1.4;
}
.semi_bold_text {
  font-family: $font-semi-bold;
  line-height: 1.3;
}
.blue {
  color: #0026bc;
}
.grey {
  color: #8c96cf;
}
.white {
  color: white;
}
.orange {
  color: #ffa780;
}
.dark {
  color: #1a237e;
}
////*//////////////////////////////// */@extend

.fdc {
  flex-direction: column;
}
.fdcr {
  flex-direction: column-reverse;
}
.fdr {
  flex-direction: row;
}
.fdrr {
  flex-direction: row-reverse;
}
.jcc {
  justify-content: center;
}
.jcfs {
  justify-content: flex-start;
}
.jcfe {
  justify-content: flex-end;
}
.jcsb {
  justify-content: space-between;
}
.jcsa {
  justify-content: space-around;
}
.jcse {
  justify-content: space-evenly;
}
.aic {
  align-items: center;
}
.aifs {
  align-items: flex-start;
}
.aife {
  align-items: flex-end;
}
.ais {
  align-items: stretch;
}
.aib {
  align-items: baseline;
}
.fww {
  flex-wrap: wrap;
}

.flex {
  display: flex;
}
