@import "./_mixins.scss";
@include font("Urbanist-Bold", "../fonts/Urbanist-Bold");
@include font("Urbanist-SemiBold", "../fonts/Urbanist-SemiBold");
@include font("Urbanist-Light", "../fonts/Urbanist-Light");
@include font("Urbanist-Regular", "../fonts/Urbanist-Regular");
@include font("Urbanist-Thin", "../fonts/Urbanist-Thin");
@include font("Urbanist-ExtraBold", "../fonts/Urbanist-ExtraBold");

$font-regular: "Urbanist-Regular";
$font-thin: "Urbanist-thin";
$font-light: "Urbanist-light";
$font-bold: "Urbanist-bold";
$font-extra-bold: "Urbanist-ExtraBold";
$font-semi-bold: "Urbanist-SemiBold";
$small-screen: "(max-width : 991px)";

$raduis-bloc: 20px;
.App {
  text-align: center;
  position: relative;
  z-index: 0;

  //background-color: black;
  h2 {
    font-size: 3em;
    line-height: 1.2;
    margin: 0;
  }
  h3 {
    font-size: 2.37em;
    line-height: 1.2;
    margin: 0;
    @include phone {
      font-size: 2em !important;

      margin: 0;
    }
  }
  h4 {
    font-size: 1em;
    line-height: 1.7;
    @include phone {
      font-size: 0.9em !important;
      line-height: 1.7;
    }
  }
  h5 {
  }
}
.App-header {
  background: url("../img/header_back.png");
  // background-size: 100%;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-position: right;
  width: 96%;
  // height: 70vh;
  padding: 160px 0 100px 0;
  margin: 30px 30px 0 30px;
  position: relative;

  @include phone {
    width: 280px;
    height: 406px;
    background-color: #0026bc;
    border-radius: $raduis-bloc;
    width: 98%;
  }
  @include Tablet {
    width: 280px;
    height: 506px;
    background-color: #0026bc;
    border-radius: $raduis-bloc;
    width: 98%;
  }
  @include desktop-xl {
    padding: 100px 0 100px 0;
    background-size: 100%;
    height: 700px;
  }
  @include desktop-lg {
    height: 700px;
  }
  @include desktop-md {
    height: 700px;
  }
  @include desktop-sm {
    height: 700px;
  }
  @include desktop-xs {
    height: 700px;
  }
  @include Tablet {
    height: 700px;
  }
  @include phone {
    height: 700px;
  }
  // background-color: #0026bc;
  border-radius: $raduis-bloc;
  position: relative;
  h2 {
    text-align: center;
    font-weight: regular;

    @include phone {
      font-size: 40px;
    }
  }
  h4 {
    text-align: center;
  }
  .sepa {
    @include phone {
      width: 40%;
    }
  }
  .ilust_1 {
    //width: 40%;
    // height: 70%;
    bottom: -250px;
    position: absolute;
    z-index: 400;
    @include desktop-xl {
      width: 921px;
      bottom: -400px;
    }
    @include desktop-md {
      width: 700px;
      bottom: -300px;
    }
    @include desktop-lg {
      width: 721px;
      bottom: -300px;
    }
    @include desktop-sm {
      width: 720px;
      bottom: -300px;
    }
    @include desktop-xs {
      bottom: -300px;
      width: 621px;
    }
    @include Tablet {
      width: 621px;
      bottom: -270px;
    }
    @include phone {
      bottom: -130px;
      width: 331px;
    }
  }
}

.navbar-items {
  float: right;
  position: absolute;
  top: 20px;
  right: 50px;
  z-index: 200;
  ul {
    margin: 0;
    padding: 0;
  }
  ul li {
    list-style-type: none;
    text-align: center;
    margin: 0px 14px 0px 14px;
    cursor: pointer;

    // padding: 25px;
  }
  & .button-demo {
    margin-left: 20px;
  }
}
.navbar-logo {
  float: right;
  position: absolute;
  top: 20px;
  left: 25px;
  z-index: 200;
  img {
    float: left;
    width: 177px;
    @include phone {
      width: 55px;
    }
    @include Tablet {
      width: 55px;
    }
  }
}
.navbar-items-toggled {
  float: right;
  position: absolute;
  top: 50px;
  right: 0px;
  z-index: 0;
  background-color: #0026bc;
  border-radius: $raduis-bloc;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.08);

  padding: 15px;
  ul {
    margin: 10px;
    padding: 20px;
  }
  ul li {
    font-size: 18px;
    list-style-type: none;
    text-align: center;
    margin: 0px 25px 0px 25px;
    // padding: 25px;
  }
  & .button-demo {
    margin-left: 20px;
  }
}

.toggle-navbar {
  float: right;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 200;
  width: 70px;
  height: 48px;
  border-radius: 26px;
  background-color: white;
}
.button-demo {
  width: 210px;
  height: 48px;
  background-color: white;
  color: #0026bc;
  font-size: 18px;
  text-align: center;
  border-radius: 24px;
  z-index: 450;
  cursor: pointer;
  img {
    margin: 0;
    padding: 0;
    float: right;
    margin-right: 0;
  }
}

.first-bloc-container {
  background-size: 100%;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-position: right;
  width: 96%;
  margin: 2%;
  margin-top: 320px;

  @include desktop-xl {
    margin-top: 440px;
  }
  @include Tablet {
    margin-top: 280px;
  }
  @include phone {
    margin-top: 160px;
  }
  background-color: white;
  border-radius: $raduis-bloc;
  // padding-left: 350px;
  right: 0;
  h5 {
    text-align: center;
  }
  .first-bloc-inner {
    // padding-left: 2%;
    //  padding-right: 2%;
    width: 100%;
    .inner-text-bloc {
      padding-top: 75px;
      padding-bottom: 140px;
      padding-left: 2%;
      padding-right: 2%;
      @include desktop-sm {
        padding-left: 2%;
        padding-right: 2%;
        width: 85%;
      }
      @include desktop-xl {
        padding-left: 5%;
        padding-right: 5%;
        width: 85%;
      }
      @include phone {
        padding-left: 1.8%;
        padding-right: 2%;
        width: 90%;
      }
      width: 80%;
      h2 {
        text-align: left;
        margin: 0;
        padding: 0;
      }
      h4 {
        text-align: left;
      }
      img {
        width: 274.78px;
        margin: 0;
        padding: 0;
      }
    }
    .features {
      flex-wrap: wrap;
      // width: 100%;
      //  margin: 4% 0 4% 0;
      //   padding: 0 2% 0 2%;
      @include desktop-lg {
        width: 100%;
      }
      @include desktop-xl {
        //width: 60%;
      }
      @include desktop-sm {
        width: 100%;
      }
      @include desktop-xs {
        width: 60%;
      }
      @include desktop-md {
        width: 100%;
      }
      margin-bottom: 140px;
      .feature {
        // margin-bottom: 5%;
        // margin-left: 40px;
        margin: 0 10px 0 10px;
        @include desktop-xs {
          margin: 0 10px 10px 10px;
        }
        @include phone {
          margin: 10px 10px 10px 10px;
        }
        @include desktop-xl {
          margin: 0px 30px 0px 30px;
        }
        // padding: 10px 15px 0 15px;
        //width: 270px;
        width: 275px;

        @include desktop-xl {
          //   padding: 10px 60px 0 60px;
          width: 300px;
        }
        p {
          text-align: center;

          margin: 0;
          padding: 0;
        }
        h5 {
          text-align: center;
          margin: 0;
          padding: 0;
          padding: 30px 0 30px 0;
        }

        img {
          width: 55px;
          height: 55px;
        }
      }
    }
  }
}
.bloc-5 {
  width: 100%;
  // flex-wrap: wrap;
  margin: 100px 0 80px 0;
  position: relative;

  .bloc-5-container {
    padding: 0 2% 0 2%;
    flex-wrap: wrap;
    width: 100%;
    @include phone {
      width: 90%;
      padding: 0 1% 0 1%;
    }
    //padding-left: 25%;
    img {
      margin: 0;
      // padding-right: 50px;
      //padding-left: 50px;
      width: 600px;
      // position: absolute;
      //right: -120px;
      @include phone {
        width: 70%;
        padding: 0 2% 0 6%;
      }
      @include desktop-xl {
        width: 700px;
      }
    }
    .blocs-5 {
      width: 600px;
      @include Tablet {
        padding-bottom: 5%;
      }
      @include phone {
        padding-bottom: 5%;
      }
      h3 {
        text-align: left;

        //margin-left: 10%;
      }
      h4 {
        text-align: left;
        padding: 0;
        margin: 0;
        padding-top: 50px;
        //  margin-left: 10%;
      }

      .sepa {
        width: 250px;
        position: relative;
        // padding-bottom: 30px;
        padding: 0 0 0 0;
      }

      .button-demo-two {
        width: 249px;
        height: 48px;
        background-color: white;
        margin-top: 10%;
        border-radius: 24px;
        cursor: pointer;
        .Text-inner {
          text-align: center;
          padding: 0 5px 0 5px;
        }
        img {
          margin: 0;
          padding: 0;
          width: 24px;
          height: 24px;
          float: right;
        }
      }
    }
  }
}
.second-bloc {
  width: 100%;
  // flex-wrap: wrap;
  margin: 100px 0 80px 0;
  @include phone {
    margin: 60px 0 80px 0;
  }
  position: relative;
  .switch-bloc-mobile {
    .switch-feature-button-mobile {
      width: 110px;
      height: 40px;
      background-color: white;
      border-radius: 55px;
      margin: 8px -15px 30px -15px;
      cursor: pointer;
      .Text {
        text-align: center;
        font-size: 8px;
        padding: 0 4px 0 4px;
      }
      .circle-inner {
        width: 17px;
        height: 17px;
        background-color: #d9dcef;
        border-radius: 50%;
        margin-left: 4px;
        // float: left;
      }
      img {
        width: 30px;
      }
    }
  }
  .switch-bloc {
    flex-wrap: wrap;
    width: 90%;
    @include desktop-lg {
      width: 100%;
    }
    @include desktop-xs {
      width: 100%;
    }
    @include desktop-sm {
      width: 100%;
    }
    @include desktop-md {
      width: 100%;
    }
    @include desktop-xl {
      width: 100%;
    }
    .switch-feature-button-clicked {
      width: 230px;
      height: 60px;
      background-color: #f9f9f9;
      border-radius: 55px;
      margin: 5px 10px 80px 10px;
      cursor: pointer;
      .Text {
        text-align: center;
        padding: 0 25px 0 25px;
        margin: 0;
      }
      .circle-inner {
        width: 40px;
        height: 40px;
        background-color: #d9dcef;
        border-radius: 50%;
        margin-left: 10px;
        // float: left;
      }
      img {
        width: 30px;
      }
    }
    .switch-feature-button {
      width: 230px;
      height: 60px;
      background-color: white;
      border-radius: 55px;
      margin: 5px 10px 80px 10px;
      cursor: pointer;
      .Text {
        text-align: center;
        padding: 0 25px 0 25px;
        margin: 0;
      }
      .circle-inner {
        width: 40px;
        height: 40px;
        background-color: #d9dcef;
        border-radius: 50%;
        margin-left: 10px;
        // float: left;
      }
      img {
        width: 30px;
      }
    }
  }
  .bloc-container {
    margin: 0 0 0 0;
    flex-wrap: wrap;
    //width: 100%;
    img {
      margin: 0;
      padding-right: 50px;
      //padding-left: 50px;
      width: 650px;
      @include phone {
        width: 60%;
      }
      @include desktop-xl {
        width: 800px;
      }
      @include desktop-lg {
        width: 700px;
      }
      @include desktop-md {
        width: 700px;
      }
      @include Tablet {
        width: 500px;
      }
      @include phone {
        width: 350px;
      }
    }

    .blocs {
      //margin-left: 10%;
      width: 560px;
      //height: 500px;
      @include phone {
        width: 85%;
        height: 300px;
      }
      h4 {
        text-align: left;
      }
      h3 {
        text-align: left;
        // line-height: 1.2;

        //margin-left: 10%;
      }
      h5 {
        text-align: left;
        padding: 0;
        margin: 0;
        //  margin-left: 10%;
      }
      img {
        margin: 0;
        padding: 0;
        width: 30%;
        padding-bottom: 30px;
      }
      .sepa {
        width: 250px;
      }

      .button-demo-two {
        width: 249px;
        height: 48px;
        background-color: white;
        margin-top: 10%;
        border-radius: 24px;
        cursor: pointer;
        .Text-inner {
          text-align: center;
          padding: 0 5px 0 5px;
        }
        img {
          margin: 0;
          padding: 0;
          width: 24px;
          height: 24px;
          float: right;
        }
      }
    }
  }
}

.Bloc-three {
  width: 96%;
  //height: 704px;
  margin-top: 40px;
  background-color: #0026bc;
  border-radius: $raduis-bloc;
  flex-wrap: wrap;
  padding: 100px 0 100px 0;
  height: 70%;
  background: url("../right-top.svg");
  // background-size: 100%;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-position: right;
  @include phone {
    margin-top: 300px;
    background: none;
    background-color: #0026bc;
  }
  @include desktop-xs {
    height: 60%;
  }
  @include phone {
    height: 60%;
  }
  @include Tablet {
    height: 60%;
  }
  .inner-Text {
    padding: 0 2% 0 4%;
    h3 {
      text-align: left;
      margin: 0;
      padding: 0;
    }
    h4 {
      text-align: left;
      line-height: 1.7;
      padding-bottom: 4%;
    }
    .sepa {
      width: 150px;
      padding-bottom: 5%;
    }
  }

  img {
    //  padding: 0 5% 0 5%;
    // float: left;
    width: 500px;
    @include desktop-xl {
      width: 600px;
    }
    @include phone {
      width: 60%;
      padding-bottom: 25px;
    }
  }

  .button-demo {
    img {
      margin: 0;
      padding: 0;
      float: right;
      margin-right: 0;
      width: 20%;
    }
  }
}

.bloc-for-container {
  background-size: 100%;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-position: right;
  width: 96%;
  //height: 1034px;
  //margin: 0 0 0 0;
  background-color: white;
  border-radius: $raduis-bloc;
  // padding-left: 350px;
  padding-top: 70px;
  padding-bottom: 70px;
  h2 {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  h4 {
    text-align: center;
    padding-bottom: 0;
    padding-top: 15px;
    margin-bottom: 0;
    margin: 0;
  }
  .separator {
    width: 15%;
  }
  img {
    width: 45%;
    margin: 0;
    padding: 0;
    @include phone {
      width: 65%;
    }
  }
}
.FAQ {
  background-size: 100%;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-position: right;
  width: 96%;
  //height: 800px;
  margin: 0px 0px 10px 0;
  background-color: white;
  border-radius: $raduis-bloc;
  // padding-left: 350px;
  right: 0;
  padding-top: 5%;
  padding-bottom: 5%;
  @include phone {
    padding-bottom: 350px;
    height: 30%;
  }
  @include Tablet {
    padding-bottom: 350px;
    height: 30%;
  }
  @include desktop-xs {
    padding-bottom: 20%;
  }
  @include desktop-sm {
    padding-bottom: 15%;
  }

  @include desktop-md {
    padding-bottom: 15%;
  }
  @include desktop-lg {
    padding-bottom: 15%;
  }
  @include desktop-xl {
    padding-bottom: 15%;
  }

  position: relative;
  h3 {
    text-align: center;
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
  }
  .faq-container {
    flex-wrap: wrap;
    width: 100%;

    .questions {
      flex-wrap: wrap;
      width: 100%;
      //padding: 0 4% 0 4%;
      @include phone {
        flex-wrap: wrap;
      }
      //padding-top: 5%;
      .question-bloc {
        // background-color: white;
        .faq-toggle {
          // height: 80px;
          width: 540px;
          @include phone {
            width: 350px;
          }
          border-radius: 30px;
          border: 2px solid #8c96cf;
          z-index: 200;
          margin: 0 20px 40px 20px;
          //  padding: 0px 15px 0px 15px;
          cursor: pointer;

          h4 {
            text-align: left;
            padding: 20px 8px 20px 8px;
            @include phone {
              padding: 10px 8px 10px 8px;
            }
            line-height: 1.4;
            margin: 0;
          }
        }
        .faq-toggled {
          height: 80px;
          width: 540px;
          padding: 0px 15px 15px 15px;

          //    border: 1px solid #8c96cf;
          @include phone {
            width: 370px;
            //   padding-bottom: 45px;
            margin-bottom: 30px;
          }
          // border: 1px solid red;
        }
      }
    }
  }

  .separator {
    width: 15%;
  }
  img {
    width: 70%;
  }
  .bottom_bloc {
    background: url("../img/header_back.svg");
    // background-size: 100%;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-position: right;
    width: 1306px;
    height: 406px;
    border-radius: 20px;

    @include phone {
      width: 280px;
      height: 406px;
      background-color: #0026bc;
    }
    @include Tablet {
      width: 280px;
      height: 406px;
      background-color: #0026bc;
    }
    @include desktop-lg {
      width: 734px;
      height: 397px;
    }
    @include desktop-md {
      width: 734px;
      height: 397px;
    }
    @include desktop-sm {
      width: 734px;
      height: 397px;
    }
    @include desktop-xs {
      width: 734px;
      height: 397px;
    }
    position: absolute;
    bottom: -200px;
    h2 {
      text-align: center;
      margin: 0;
      padding: 0;
    }
    img {
      width: 183px;
    }
    .button-demo-two {
      width: 249px;
      height: 48px;
      background-color: white;
      border-radius: 24px;
      margin-top: 40px;
      cursor: pointer;
      .Text-inner {
        text-align: center;
        padding: 0 5px 0 5px;
        font-size: 1.125em;
        margin: 0;
      }
      img {
        margin: 0;
        padding: 0;
        width: 24px;
        height: 24px;
        float: right;
      }
    }
  }
}
.Bloc-five {
  @include desktop-lg {
    transform: scale(0.9);
  }
  @include desktop-md {
    transform: scale(0.82);
  }
  @include desktop-sm {
    transform: scale(0.73);
  }
  @include desktop-xs {
    transform: scale(0.7);
  }

  padding-top: 5%;
  padding-bottom: 5%;
  .toggle-container {
    position: relative;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;

    .toggle {
      margin: 20px 20px 20px 20px;
      background-color: white;
    }
    .green-notice {
      position: absolute;
      top: 0px;
      right: -90px;
      @include phone {
        right: -10px;
        top: -10px;
      }
    }
    h5 {
      text-align: center;
      font-size: 1.8em;
      margin: 0;
      padding: 0;
    }
  }

  .plans {
    flex-wrap: wrap;
    position: relative;
    .notice {
      position: absolute;
      width: 256px;
      height: 110px;
      background-color: white;
      border-radius: 10px;
      bottom: 300px;
      right: 200px;
      @include desktop-xl {
        bottom: 300px;
        right: 220px;
      }
      @include desktop-lg {
        bottom: 300px;
        right: 220px;
      }
      @include desktop-md {
        bottom: 240px;
        right: 140px;
      }
      @include desktop-sm {
        bottom: 240px;
        right: 140px;
      }
      @include desktop-xs {
        bottom: 520px;
        right: 20px;
      }
      @include Tablet {
        bottom: 520px;
        right: 40px;
      }
      @include phone {
        bottom: 450px;
        right: 30px;
      }
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.08);
      z-index: 100;
      padding: 0 0 0 15px;
      p {
        text-align: left;
        line-height: normal;
        margin: 0;
        padding: 0;
        padding-left: 8px;
        padding-bottom: 8px;
      }
      h5 {
        text-align: left;
        line-height: normal;
        margin: 0;
        padding: 0;
      }
    }
    .plan-container {
      &.plan-container-basic {
        background-color: #fbf9f9;
      }
      &.partner {
        height: 269px !important;
      }

      @include phone {
        width: 100%;
        //  margin: 30px 8px 0 8px;
      }
      padding-top: 15px;
      padding-bottom: 30px;
      margin: 0 8px 0 8px;
      margin-bottom: 5%;
      width: 21rem;
      @include desktop-xl {
        width: 24rem;
        height: 38.33rem;
      }
      background-color: white;
      border-radius: $raduis-bloc;

      position: relative;
      .red_notice {
        position: absolute;
        top: -10px;
        width: 191px;
        height: 27px;
        background-color: #f64860;
        border-radius: 7px;
        color: white;
        font-size: 18px;
        text-align: center;
        p {
          padding: 0;
          margin: 0;
          font-size: 0.83em;
          font-weight: 900;
        }
      }
      //  box-shadow: black 2px;
      .button-demo {
        width: 210px;
        height: 48px;
        background-color: #0026bc;
        position: relative;
        text-align: center;
        border-radius: 24px;
        cursor: pointer;
        padding-left: 14px;
        img {
          margin: 0;
          padding: 0;
          float: right;
          margin-right: 0;
        }
        .inner-button {
          margin-left: 14px;
          width: 46px;
          height: 46px;
          border-radius: 50%;
          background-color: #193bc2;
          float: right;
        }
      }

      .plan-features {
        padding: 14px 14px 14px 20px;
        @include desktop-md {
          padding: 6px 6px 12px 6px;
        }
        @include desktop-sm {
          padding: 6px 6px 12px 6px;
        }
        @include desktop-xs {
          padding: 6px 6px 12px 6px;
        }
        @include phone {
          padding: 14px 0px 12px 20px;
        }
        .plan-item {
          p {
            text-align: left;
            //padding: 5px;
            line-height: 2.6;
            font-size: 1em;
            margin: 0;
            padding: 0;
            padding-left: 5px;
            // padding-right: 5px;
            font-size: 0.86em;
          }
          .notice-warning {
            width: 21px;
          }
        }
      }
      h3 {
        text-align: left;
        padding: 10px 30px 10px 20px;
        margin: 0;
      }
      h4 {
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 0.77em;
        padding-bottom: 2.8em;
      }
    }
  }
  h5 {
    text-align: left;
    // line-height: 3;
    font-size: 0.88em;
    margin: 0;
    padding-left: 25px;
    padding-right: 5px;
  }
  h1 {
    text-align: left;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    padding-right: 5px;
  }
  h3 {
    text-align: center;
    margin: 0;
    padding: 0px 0px 20px 0px;
  }
  h4 {
    text-align: center;
    padding: 0 0 0px 0;
  }
}

.footer {
  padding-top: 5%;
  bottom: -400px;
  padding-top: 70%;
  @include desktop-xl {
    padding-top: 100%;

    //  margin: 0 14px 0 14px;
  }
  @include phone {
    padding-top: 130%;
  }
  @include Tablet {
    padding-top: 10%;
  }
  .items {
    padding: 15% 0 15% 0;

    ul {
      padding: 0;
      margin: 0;
    }
    ul li {
      list-style-type: none;
      text-align: center;
      margin: 0 5px 0 5px;
      cursor: pointer;

      // padding: 25px;
    }
  }
  p {
    list-style-type: none;
    text-align: center;
  }
}

.popup-container {
  //  background: url("../img/header_back.png");
  //background-size: 100%;
  background: rgba(black, 0.77);

  //filter: url(grayscale.svg); /* Firefox 4+ */
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 1;
}
.success_popup {
  display: inline-block;
  width: 500px;
  height: 350px;
  border-radius: $raduis-bloc;
  background-color: #0026bc;
  opacity: 1;
  z-index: 1000;
  position: relative;
  @include desktop-xl {
    width: 628px;
    //  height: 834px;
  }
  .top_left {
    background-image: url("../left_back.svg");
    filter: brightness(0.1);
    top: 0px;
    left: 0px;
    position: absolute;
    opacity: 0.06;

    width: 417px;
    height: 390px;
    background-color: none;
    // background-size: 100%;
  }
}
.popup {
  @include desktop-lg {
    transform: scale(0.95);
  }
  @include desktop-md {
    transform: scale(0.9);
  }
  @include desktop-sm {
    transform: scale(0.87);
  }
  @include desktop-xs {
    transform: scale(0.85);
  }
  display: inline-block;
  max-width: 500px;
  height: 700px;
  border-radius: $raduis-bloc;
  background-color: #0026bc;
  opacity: 1;
  z-index: 1000;
  position: relative;
  padding: 6% 0 3% 0;
  @include desktop-xl {
    width: 628px;
    height: 734px;
  }
  @include desktop-md {
    height: 670px;
    width: 470px;
  }
  @include desktop-lg {
    height: 670px;
    width: 470px;
  }
  @include phone {
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }
  .top_left {
    background-image: url("../left_back.svg");
    filter: brightness(0.1);
    top: 0px;
    left: 0px;
    position: absolute;
    opacity: 0.06;

    width: 417px;
    height: 390px;
    background-color: none;
    // background-size: 100%;
  }
  .logo {
    width: 200px;
  }
  .cancel {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 69px;
    height: 48px;
    border-radius: 24px;
    background-color: #00209e;
    color: #8c96cf;
    font-size: 25px;
    cursor: pointer;
  }
  .popup-inner-container {
    padding: 5% 20px 0 20px;
    @include desktop-xl {
      padding: 30px 70px 0 70px;
    }
    h3 {
      list-style-type: none;
      text-align: center;
      font-size: 24px;
    }
    p {
      text-align: center;
      padding-bottom: 20px;
      font-size: 14px;
    }
    h4 {
      text-align: center;
      padding: 20px 0 20px 0;
    }
    input {
      width: 400px;
      height: 48px;
      background-color: #00209e;
      color: #354eb1;
      border-radius: 20px;
      padding: 10px;
      border: 10px;
      outline: 0;
      padding: 0;
      padding-left: 30px;
      margin: 0px 0 15px 0;
      color: white;
      font-size: 16px;
      z-index: 5000;
    }
    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #354eb1;
      font-size: 16px;
      text-align: left;
      //  padding-left: 30px;
    }
    label {
      text-align: left;
      padding-left: 30px;
    }
    & .button-demo {
      margin: 20px 0 50px 0;
    }
  }
}

html,
body {
  background-color: #f0f1f7;
}

.fade-enter .btn {
  opacity: 0;
  transform: translateX(-100%);
}
.fade-enter-active .btn {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit .btn {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit-active .btn {
  opacity: 0;
  transform: translateX(100%);
}
.fade-enter-active .btn,
.fade-exit-active .btn {
  transition: opacity 500ms, transform 500ms;
}

@for $i from 1 through 90 {
  .text_s#{$i} {
    font-size: #{$i}px;

    @media #{$small-screen} {
      font-size: #{$i}px;
    }
  }
}

@for $i from 1 through 900 {
  .fw#{$i} {
    font-weight: #{$i};
  }
}

.extra_bold_text {
  font-family: $font-extra-bold;
  line-height: 0.8;
}
.regular_text {
  font-family: $font-regular;
  line-height: 1.3;
}
.bold_text {
  font-family: $font-bold;
  line-height: 1;
}
.light_text {
  font-family: $font-light;
  line-height: 1.4;
}
.semi_bold_text {
  font-family: $font-semi-bold;
  line-height: 1.3;
}
.blue {
  color: #0026bc;
}
.grey {
  color: #8c96cf;
}
.white {
  color: white;
}
.orange {
  color: #ffa780;
}
.dark {
  color: #1a237e;
}
////*//////////////////////////////// */@extend

.fdc {
  flex-direction: column;
}
.fdcr {
  flex-direction: column-reverse;
}
.fdr {
  flex-direction: row;
}
.fdrr {
  flex-direction: row-reverse;
}
.jcl {
  justify-content: left;
}
.jcc {
  justify-content: center;
}
.jcfs {
  justify-content: flex-start;
}
.jcfe {
  justify-content: flex-end;
}
.jcsb {
  justify-content: space-between;
}
.jcsa {
  justify-content: space-around;
}
.jcse {
  justify-content: space-evenly;
}
.aic {
  align-items: center;
}
.aifs {
  align-items: flex-start;
}
.aife {
  align-items: flex-end;
}
.ais {
  align-items: stretch;
}
.aib {
  align-items: baseline;
}
.fww {
  flex-wrap: wrap;
}

.flex {
  display: flex;
}
